      <span>⌛<b>00:00:09</b></span>
      <span>MQTT ✅</span>
      <small>{"connected":true,"ts":9065,"tsHPSettingsUpdated":9065,"tsHPStatusUpdated":9065,"power":"ON","mode":"COOL","temperature":23.32,"fan":"AUTO","vane":"AUTO","wideVane":"|","roomTemperature":32.23,"operating":true,"compressorFrequency":0}</small>